.logokitty {
    height: 50px;
}
.cont-header {
    display: flex;
    justify-content: space-between;
    padding: 30px calc(50% - 500px);
    box-shadow:  0 0 5px 0 #a19494;
}
.logotitle {
    font-family: "Comic Sans MS";
    font-size: 20px;
    display: flex;
    align-items: center;
}
body {
    margin: 0;
    display: grid;
}
.buttons-up{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    padding: 50px calc(50% - 500px);
    gap: 20px;
    left: 0;
}
.updateCats{
    box-shadow: 2px 2px #a19494;
    border: none;
    border-radius: 2px;
    background-color: rgb(87, 78, 78);
    padding: 5px;
    font-size: 15px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: white;
    cursor: pointer;
}

.addCat {
    /* margin: 20px calc(50% - 500px); */
    box-shadow: 2px 2px #a19494;
    border: none;
    border-radius: 2px;
    background-color: rgb(43, 100, 48);
    padding: 5px;
    font-size: 15px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: white;
    cursor: pointer;
}

.cards {
    display: grid;
    /* grid-gap: 5px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    margin-top: 5px;
    gap: 50px;
    padding: 50px calc(50% - 500px);
    /* height: 100px; */
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    box-shadow:  0 0 5px rgb(161, 148, 148);
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    /* gap: 30px; */
    /* text-align: center; */
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.2);
    transition: 1s linear;
    box-shadow: 0 0 6px 0 #0006, 0 0 15px 0 #0009;
}
.imgcat {
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    opacity: 0.7;
    margin: 0;
}
.rate {
    height: 15px;
    width: 15px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;
    margin: 0;
}

.popup, .popup_add-cat {
    background-color: white;
    position: fixed;
    left: calc(50vw - 356px);
    top: calc(50vh - 181px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* margin: -60% calc(50% - 356px); */
    width: 712px;
    /* height: 362px; */
    border: 1px #0006;
    border-radius: 10px;
    z-index: 20;
    opacity: 1;
    padding: 30px;
    box-sizing: border-box;
    gap: 0 50px;
}
.popup-back:before {
    content: '';
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.5;
	z-index: 10;
}
.popupImg {
    width: 300px;
    /* height: 300px; */
}

.nameCat {
    font-family: "Comic Sans MS";
    font-size: 30px;
    margin-top: 0px;
}    

.ageCat {
    font-family: sans-serif;
    font-size: 20px;
}

.descriptionCat {
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 0;
}

.popupR {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 0;
}
.imgclose {
    width: 50px;
    height: 50px;
    cursor: pointer;
 
}
.popupclose {
    /* margin-top: -85%;
    margin-left: 260px; */
    position: fixed;
    /* top: -300px;
    left: 700px; */
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 0 #a19494;
    height: 100px;
    font-size: 26px;
}
.footertext {
    margin: 0 calc(50% - 500px);
}
.popup-form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.delete-cat {
    margin-top: 20px;
}

.authContent {
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 25;
    left: calc(50vw - 100px);
    top: calc(50vh - 50px);
    box-shadow: 1px 1px 1px 2000px black;
    border: 10px solid #816767;
    border-radius: 5px;
}